@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;

		--yellow: 47.9 95.8% 53.1%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;

		--yellow: 47.9 95.8% 53.1%;
  }
}
 
@layer base {
	* {
		@apply border-border selection:bg-primary selection:text-primary-foreground;
	}

	body {
		--pattern-fg: color-mix(in hsl, hsl(var(--foreground)) 13%, transparent);
		@apply scroll-smooth bg-background font-dm-serif tracking-wide text-foreground;
		@apply bg-[size:20px_20px] bg-fixed;
		background-image: radial-gradient(var(--pattern-fg) 1px, transparent 0);
	}


	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4 {
		@apply font-atkinson tracking-wider
	}

	h1,
	.h1 {
		@apply mb-4 text-4xl;
	}

	h2,
	.h2 {
		@apply mb-3 text-2xl !tracking-wide;
	}

	h3,
	.h3 {
		@apply mb-2 text-xl !tracking-wide;
	}

	h4,
	.h4 {
		@apply mb-1 text-lg;
	}

	p,
	a,
	button,
	ol,
	ul,
	li {
		@apply leading-relaxed tracking-wide
	}

	/* Layout */
	.section-t-spacing,
	.section-spacing {
		@apply pt-6 md:pt-10 xl:pt-14;
	}
	.section-b-spacing,
	.section-spacing {
		@apply pb-6 md:pb-10 xl:pb-14;
	}

	.grid-content {
		@apply grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
	}

	.grid-content > * {
		@apply col-span-full;
	}

	.grid-x-spacing,
	.grid-spacing {
		@apply gap-x-4 md:gap-x-6 xl:gap-x-8 2xl:gap-x-10;
	}

	.grid-y-spacing,
	.grid-spacing {
		@apply gap-y-4 md:gap-y-6 xl:gap-y-7;
	}
}

@layer components {
	.cke a {
		@apply underline underline-offset-2 transition hover:text-primary
	}
form {
	@apply text-base font-normal my-8 first:mt-0 last:mb-0; 

	label {
		@apply block mb-1;
	}

	input {
		@apply block w-full bg-foreground text-background px-4 py-1 selection:text-foreground
	}

	/* remove default input[type="number"] arrows */
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}
}